*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-editor{
    margin: 10px auto;
    width: 90%;
    height: 70vh;
}

.text-header{
    border-bottom: none;
    padding: 10px 20px;
    background: rgb(190, 187, 187);
    color: #ffff;
    border-radius: 8px 8px 0px 0px;
}

.text-header .btn{
    color: #ffff;
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0 20px;
    padding: 5px;
}

.text-header input[type="color"]{
    border: none;
    outline: none;
    background: transparent;
}

.text-header input[type="color"]:hover{
    cursor: pointer;
}

.text-header .btn:hover{
    background: tomato;
    transition: all 0.3s linear 0s;
}

.text-area{
    border: 2px solid rgba(0, 0, 0, 0.685);
    height: 90%;
    width: 100%;
}

#text-contorl{
    height: 100%;
    width: 100%;
}